<!DOCTYPE html>
<html lang="pt-br"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ver pratos</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/estilo3.css">
</head>
<body>

	<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="menu">
		<div class="container">
			<a class="navbar-brand" id="inicio-menu" href="/restaurante/">Início</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSite">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSite">
				<ul class="navbar-nav mr-auto">

					<li class="nav-item"><a class="nav-link" href="/restaurante/verPratos">Ver
							pratos</a></li>


					<li class="nav-item"><a class="nav-link" href="#">Contato</a>
					</li>

					    <a class="nav-link" href="/pedido/meusPedidos">Meus Pedidos</a>

				</ul>

				<ul class="navbar-nav ml-auto">

				<!--	<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" data-toggle="dropdown"
						id="navDrop" href="#"> Login/Cadastro</a>
						<div class="dropdown-menu" id="form-drop">
							<div class="container">
								<form action="/cliente/logar" class="form-login" th:object="${cliente}">
									<h4>Faça login</h4>
									<input type="email" name="username" id="inputEmail" th:field="*{email}"
										class="form-control" placeholder="Email" required autofocus>
									<input type="password" name="password" id="inputSenha" th:field="*{senha}"
										class="form-control" placeholder="Senha" required>
									<button type="submit" class="btn btn-lg btn-primary btn-block"
										id="botao-login">Login</button>
									<a class="cadastre-se" href="/cliente/cadastro">Cadastre-se</a>
									<a class="esqueci-senha" href="/pessoa/redefinir-senha">Esqueci
										a senha</a>

								</form>

							</div>
						</div></li> -->

					<li class="nav-item"><a class="nav-link" href="/carrinho/listar"><img
							class="carrinho" src="/img/carrinho3.png" alt="Meu carrinho"
							data-toggle="tooltip" data-placement="bottom"
							title="Ver carrinho"></a></li>


				</ul>

			</div>
		</div>
	</nav>
<br><br><br>
	
	
	<table class="table">
		<tbody>
			<tr th:each = "prato : ${pratos}" th:object="${prato}">
			<td><div class="card" style="width: 18rem;">
		<img class="card-img-top" th:src="@{'/images/'+${prato.nome}+${prato.codigo}+'.png'}"
			alt="Imagem de capa do card">
		<div class="card-body">
			<h5 class="card-title" th:text="${prato.nome}"></h5>
			Preço: R$<span class="card-text" th:text="${prato.preco}"></span> <br> <br>
			<a th:href="@{/carrinho/adicionar/{codigo}(codigo = ${prato.codigo})}" class="btn btn-primary">Adicionar ao carrinho</a>
		</div>
	</div></td>
		</tbody>
	</table>



	<footer class="footer mt-auto py-3" id="rodape">
		<div class="container">
			<span class="text-muted">Desenvolvido por: Jonas Deyvid</span>
		</div>
	</footer>

	<script src="/js/jquery.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>


</body>
</html>